extends ../exten/maintemp.jade

block header
	.header.header__main-panel.black-gradient.header_header-glow
		a.title-page.title-page__main-panel
			span.bolder watt
			img(src="#{path_icons}light-bulb.png" alt='').title-page__bulb
			|admin
		.header_block-info
			.header_message
				.header_message_img-box
					img(src="#{path_icons}open-letter.png" alt='').header_message_img-box_image
					em.hint.hint__h16.bg_color_orange.header_message_img-box__hint 3
				| 3 private messages received
			+list("control_menu", Heading_Top_listMenu)
	.block_information.black-gradient
		+list("control_menu", menu_server_information, "control_menu_information")
		form.search-form
			input(type="text" placeholder="Your search...").search-form_input
			input(type="submit" value="go").search-form_submit
block content
	.main-menu_envelope
		+list("main-menu", main_menu_array, "blue-gradient")
	.icons-menu_envelope 
		+list("icons-menu", icons_menu_array, "" )
	.box-cont
		h1.staff_box_title.blue-gradient Latest orders
			a.staff_box_title_more View all orders
		+table("table-staff", table_staff_array, "")
		.table-staff-block_bottom
			+pagination("pagination", pagination)
			+list("small_navigation", small_navigation_menu, "")

	.box-cont.box-cont__submission
		h1.staff_box_title.black-gradient.staff_box_title__submission Submit a product
		form.form_submission
			fieldset
				.form_submission_block
					.form_submission_block-right
						label.form_submission_block_item Details:
						textarea(class="form_submission_block_textarea" placeholder="Product description goes here...")
						.form_submission_block-right_inner
							label.form_submission_block_item Available sizes:
							input(class="form_submission_block_input" placeholder="S, M, L, XL, XXL")
							input(class="form_submission_block_submit" value="Submit" type="submit")
					.form_submission_block_inner
						label.form_submission_block_item Product name:
						input(class="form_submission_block_input" placeholder="Black and white t-shirt...")
					.form_submission_block_inner
						label.form_submission_block_item Price:
						input(class="form_submission_block_input" placeholder="$399.99")
					.form_submission_block_inner
						label.form_submission_block_item Product category::
						select(class="form_submission_block_select" )
							option(value="0") Pullovers
							option(value="1") Sport shirts
							option(value="2") Man footwear
							option(value="3") Woman footwear
							option(value="4") T-shirts
					.form_submission_block_inner
						label.form_submission_block_item Upload photo::
						select(class="form_submission_block_select" )
							option(value="0") photo.jpg
				
	.box-cont.box-cont__product
		h1.staff_box_title.blue-gradient Latest products
			a.staff_box_title_more View all orders
		.table-staff-block
			+table("table-staff", table_staff_array2, "table-staff__product")
			.table-staff-block_bottom
				+pagination("pagination", pagination)
				.table-staff-block_bottom_mark.table-staff-block_bottom_mark__buyers Best buyers
	.box-help_block
		each elem, i in help_array.massElem
			div(class="box-help box-help_#{i}")
				img(src="#{elem.src}" alt="").box-help_img
				.box-help_text #{elem.val}
				a(href="#" class="box-help_text_close")
block footer
	.footer_left-side
		.footer_left-side_cms
			|Watt CMS 
			span.footer_left-side_cms_build build 28241
		.footer_left-side_copyright
			| © 2010	
			a(href="" class="link") yourcompany.com
			|	All rights reserved.
	.footer_right-side
		.footer_right-side_text Quick links
		+list("main-menu_bottom", main_menu_array2, "")